{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body">
        <h1>{% if title %}{{ title }}{% else %}Case Type Form{% endif %}</h1>
        <p>Create/update case type below.</p>
        <hr>
        <form action="" method="POST"> {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" href="{% url 'prod:casetype_list' %}" role="button">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}