{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 mb-4">
                <h1>Case Log - Team Manager View</h1>
                <p>View cases worked and recorded by your team member below.</p>
                <hr>
                <form action="" method="POST"> {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-sm-6">

                <table class="table table-bordered">
                    <tr>
                        <th class="text-center"> <strong style="font-size: 1.3rem">{{ today|date:"" }}</strong></th>
                        
                        <th style="width: 50%;" class="text-center"> <strong style="font-size: 1.3rem">Week
                                {{ week_number }}</strong></th>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <th style="width: 50%;">Staff ID:</th>
                        <td>{{ user }}</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Department:</th>
                        <td>{{ user.department }}</td>
                
                    </tr>
                    <tr>
                        <th>Last Login:</th>
                        <td>{{ user.last_login|date:" H:i:s, j M Y" }}</td>
                    </tr>

                </table>
                <table class="table table-bordered text-center">
                    <thead>

                    </thead>
                    <tr>
                        <th class="text-left" style="width: 50%;">Production Today:</th>
                        <td style="width: 25%;">{{ object_list.total }} mins</td>
                        <td class="text-center">{{ object_list.total_pct }} %</td>
                    </tr>

                </table>
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="text-left" style="width: 50%;">Production This Week:</th>
                        <td class="text-center" style="width: 25%;">{{ weektotal.total }} mins</td>
                        <td class="text-center">{{ weektotal.total_pct }} %</td>
                    </tr>

                </table>
                <table class="table table-bordered text-center">
                    <tr>
                        <th class="text-left" style="width: 50%;">Overproduction:</th>
                        <td  style="width: 25%;">0.0 mins</td>
                        <td>0.0 %</td>
                    </tr>

                </table>
            </div>
        </div>


        <br><br><br>
        <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped text-nowrap">
            <thead>
                <thead>
                    <th style="width: 10%;">CET Reference</th>
                    <th style="width: 12.5%;">Case Type</th>
                    <th style="width: 7.5%;" class="text-center">Mins</th>
                    <th style="width: 42.5%;" class="text-left">Case Notes</th>
                    <th style="width: 10%;" class="text-center">Date Added</th>
                    <th style="width: 10%;" class="text-center">Time Added</th>
                    <th style="width: 7.5%;" class="text-center">Delete</th>
                </thead>
            </thead>

            {% for object in weektotal %}
            <tr>
                <td><a href="{% url 'prod:update' object.id %}">{{ object.case_ref }}</a></td>
                <td>{{ object.case_type }}</td>
                <td class="text-center">{{ object.case_type.minutes }}</td>
                <td>{% if object.note %}{{ object.note|truncatechars:45 }}{% else %} {% endif %}</td>
                <td class="text-center">{{ object.date|date:"" }}</td>
                <td class="text-center">{{ object.date_created|time:"H:i:s" }}</td>
                <td class="text-center"><a href="{% url 'prod:tmdelete' object.id %}"><i class="far fa-trash-alt fa-md text-danger"></i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    </div>
</div>



{% endblock content %}