{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body">

        <h1>Reports</h1>
        <p>Run various operational reports. All data available to download in CSV format.</p>
        <hr>
<br>
        <p><a href="{% url 'prod:export' %}">Production Report</a></p>



        <p><a href="{% url 'accounts:export' %}">Staff Report</a></p>

        <p><a href="{% url 'prod:case_type_export' %}">Task Report</a></p>

        <p><a href="">Department Report</a></p>


    </div>
</div>
{% endblock content %}