<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">

    <a class="navbar-brand" href="{% url 'prod:list' %}"> <strong>Case Manager</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-nowrap" id="navbarCollapse">
      
      <ul class="navbar-nav mr-auto  nav-fil">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prod:list' %}"><i class="fas fa-briefcase mr-2"></i>Case Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fas fa-clock mr-2"></i></i>Timesheet</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prod:teamlist' %}"><i class="fas fa-user-friends mr-2"></i>Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prod:full-case-list' %}"><i class="fas fa-sitemap mr-2"></i>Operation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prod:casetype_list' %}"><i class="fas fa-tasks mr-2"></i>Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prod:export_list' %}"><i class="fas fa-file-csv mr-2"></i>Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:user_list' %}"><i class="fas fa-user-cog mr-2"></i>Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prod:sitemap' %}"><i class="fas fa-file-code mr-2"></i>Development</a>
        </li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link mr-2" href="">{{ request.user }}</a>
        </li>
      </ul>

      <form class="form-inline mt-2 mt-md-0 " action="{% url 'accounts:logout' %}" method="POST"> {% csrf_token %}
        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt mr-2"></i>Log out</button>
      </form>

      {% else %}

      <form class="form-inline mt-2 mt-md-0">
        <a class="btn btn-secondary btn-sm my-2 my-sm-0 width80" href="{% url 'accounts:login' %}" role="button"><i class="fas fa-sign-out-alt mr-2"></i>Log
          in</a>
      </form>

      {% endif %}

    </div>
  </div>
</nav>